<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Template 1</title>
    <style>
      {% include './template_1.4.css' %}
    </style>
    {% load static %}
  </head>
  <body>
    <div class="header">
      <img src="{% static 'pdfgenerator/images/logo.svg' %}" alt="" />
      <div class="header__title">{{input_data.name}}</div>
    </div>
    <div class="chart-box-horizontal">
      <div class="chart-box__title">top countries</div>
      <div class="img-container">
        <img
          class="chart-horizontal-img"
          src="{{chart_2}}"
          alt="horizontal bar chart"
        />
      </div>
    </div>
    <div class="header">
      <img src="{% static 'pdfgenerator/images/logo.svg' %}" alt="" />
      <div class="header__title">{{input_data.name}}</div>
    </div>
    <div class="chart-box-pie">
      <div class="chart-box__title">gender</div>
      <div class="img-container">
        <img class="chart-pie-img" src="{{chart_3}}" alt="pie chart" />
      </div>
    </div>
  </body>
</html>
