<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PDF generator</title>
    <style>
      {% include './index.css' %}
    </style>
    {% load static %}
  </head>
  <body>
    <h1>Choose template</h1>
    <div class="container">
      <div class="container__block">
        <button id="generate_1" class="container__button">template 1</button>
      </div>
      <div class="container__block">
        <button id="generate_2" class="container__button">template 2</button>
      </div>
    </div>
    <div class="hidden-charts-container">
      <div class="hidden-charts-cover"></div>
      <div>
        <canvas id="bar_chart"></canvas>
      </div>
      <div>
        <canvas id="horizontal_bar_chart"></canvas>
      </div>
      <div>
        <canvas id="pie_chart"></canvas>
      </div>
    </div>

    <script
      type="text/javascript"
      src="{% static 'pdfgenerator/chart_js/chart.min.js' %}"
    ></script>

    <script>
      const generateHorizontalBarChart = (response) => {
        const labels = [
          "Morocco",
          "Turkey",
          "Indonesia",
          "Italy",
          "Mexico",
          "Canada",
          "Sweden",
          "Australia",
          "Russia",
          "Germany",
          "India",
          "UK",
          "Brazil",
          "US",
          "Finland",
        ];

        const data = {
          labels: labels,
          datasets: [
            {
              label: "Country share (%)",
              backgroundColor: "#00c4a7",
              data: [
                response.input_data.countries["Morocco"],
                response.input_data.countries["Turkey"],
                response.input_data.countries["Indonesia"],
                response.input_data.countries["Italy"],
                response.input_data.countries["Mexico"],
                response.input_data.countries["Canada"],
                response.input_data.countries["Sweden"],
                response.input_data.countries["Australia"],
                response.input_data.countries["Russia"],
                response.input_data.countries["Germany"],
                response.input_data.countries["India"],
                response.input_data.countries["UK"],
                response.input_data.countries["Brazil"],
                response.input_data.countries["US"],
                response.input_data.countries["Finland"],
              ],
            },
          ],
        };

        const config = {
          type: "bar",
          data,
          options: {
            indexAxis: "y",
            plugins: {
              legend: {
                position: "bottom",
              },
            },
            scales: {
              x: {
                suggestedMin: 0,
                suggestedMax: 100,
                ticks: {
                  stepSize: 20,
                },
              },
            },
          },
        };

        var myChart = new Chart(document.getElementById("pie_chart"), config);
        return myChart;
      };

      const generatePieChart = (response) => {
        const data = {
          labels: ["Men", "Women"],
          datasets: [
            {
              label: "Men and women",
              data: [
                response.input_data["audience_gender"][0]["number"],
                response.input_data["audience_gender"][1]["number"],
              ],
              backgroundColor: ["#021c52", "#00c4a7"],
              hoverOffset: 4,
            },
          ],
        };
        const config = {
          type: "pie",
          data: data,
          options: {
            maintainAspectRatio: false,
            plugins: {
              legend: {
                position: "bottom",
              },
            },
          },
        };

        var myChart = new Chart(
          document.getElementById("horizontal_bar_chart"),
          config
        );
        return myChart;
      };

      const generateBarChart = (response) => {
        const ageRange = response.input_data.audience_age;

        const labels = [
          "13 - 17",
          "18 - 24",
          "25 - 34",
          "35 - 44",
          "45 - 54",
          "55 - 64",
          "65+",
        ];

        const data = {
          labels: labels,
          datasets: [
            {
              label: "Age group share (%)",
              backgroundColor: "#00c4a7",
              data: [
                ageRange.group_1 * 100,
                ageRange.group_2 * 100,
                ageRange.group_3 * 100,
                ageRange.group_4 * 100,
                ageRange.group_5 * 100,
                ageRange.group_6 * 100,
                ageRange.group_7 * 100,
              ],
            },
          ],
        };

        const config = {
          type: "bar",
          data,
          options: {
            plugins: {
              legend: {
                position: "bottom",
              },
            },
            scales: {
              y: {
                suggestedMin: 0,
                suggestedMax: 40,
                ticks: {
                  stepSize: 20,
                },
              },
            },
          },
        };

        var myChart = new Chart(document.getElementById("bar_chart"), config);
        return myChart;
      };

      const getDataForCharts = () => {
        return new Promise((resolve, reject) => {
          fetch("/data").then((response) =>
            response.json().then((response) => {
              let fetchedData = response;
              console.log("fetchedData, ", fetchedData);
              resolve(fetchedData);
            })
          );
        });
      };

      let dataForCharts = "";
      let bar_chartToBase64 = "";
      let horizontal_bar_chartToBase64 = "";
      let pie_chartToBase64 = "";

      getDataForCharts().then((data) => {
        dataForCharts = data;
        bar_chartToBase64 = generateBarChart(dataForCharts);
        horizontal_bar_chartToBase64 =
          generateHorizontalBarChart(dataForCharts);
        pie_chartToBase64 = generatePieChart(dataForCharts);
      });

      const generatePDF1 = (bar_chart, horizontal_bar_chart, pie_chart) => {
        fetch("/pdf/", {
          method: "POST",
          body: JSON.stringify({
            bar_chart: bar_chart,
            horizontal_bar_chart: horizontal_bar_chart,
            pie_chart: pie_chart,
          }),
        })
          .then((response) => {
            console.log(response);
            return response.json();
          })
          .then(({ encoded }) => generatePDFBlob(encoded));
      };

      const generatePDF2 = () => {
        fetch("/pdf2/")
          .then((response) => response.json())
          .then(({ encoded }) => generatePDFBlob(encoded));
      };

      const generatePDFBlob = (base64) => {
        var byteCharacters = atob(base64);
        var byteNumbers = new Array(byteCharacters.length);
        for (var i = 0; i < byteCharacters.length; i++) {
          byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        var byteArray = new Uint8Array(byteNumbers);
        var file = new Blob([byteArray], { type: "application/pdf;base64" });
        var fileURL = URL.createObjectURL(file);
        window.open(fileURL);
      };

      const generatePDF1Btn = document.getElementById("generate_1");

      const generatePDF2Btn = document.getElementById("generate_2");

      generatePDF1Btn.addEventListener("click", () =>
        generatePDF1(
          bar_chartToBase64.toBase64Image(),
          horizontal_bar_chartToBase64.toBase64Image(),
          pie_chartToBase64.toBase64Image()
        )
      );

      generatePDF2Btn.addEventListener("click", generatePDF2);
    </script>
  </body>
</html>
